<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    {{#name}}
    Hello, {{name}}!
    <form action="/logout" method="post">
        <button type="submit">Log Out</button>
    </form>

    {{/name}}

    {{^name}}

    <form action="/login" method="post">
        <input type="text" placeholder="Enter Your Name" name="userName"><br>
        <button type="submit">Login</button>
    </form>
        Hello motha fucka hey, hi, how ya doin?
    {{/name}}
</body>
</html>